<script> 
$(function(){ 
	includeLayout(); 
}); 

function includeLayout(){ 
	var includeArea = $('[data-include]'); 
	var self, url; 
	$.each(includeArea, function() { 
		self = $(this); 
		url = self.data("include"); 
		self.load(url, function() { 
			self.removeAttr("data-include"); 
		}); 
	}); 
} 

(function(b,i,t,C,O,I,N) {
window.addEventListener('load',function() {
  if(b.getElementById(C))return;
  I=b.createElement(i),N=b.getElementsByTagName(i)[0];
  I.src=t;I.id=C;N.parentNode.insertBefore(I, N);
},false)
})(document,'script','https://widgets.bitcoin.com/widget.js','btcwdgt');
</script>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#aaa;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#fff;background-color:#FFA500;}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-yq6s{background-color:#FCFBE3;text-align:center;vertical-align:top}
</style>

<script src="https://widgets.coingecko.com/coingecko-coin-price-static-headline-widget.js"></script>

<div class="col-md-12">

	<br>

	1. 프로젝트 소개 <br>  
	2. 데이터 수집 <br>

	<br>

	<h4>1. 프로젝트 소개</h4>

	타겟 : 비트코인, 이더리움, 비트토렌트, 엔비디아 등 <br>
	코인 또는 주식 m+30일 예측모델 개발 <br>
	현재 시점으로 부터 한달 뒤(m+30일) 가격을 예측해서 매수/매도 시점 파악 <br>
	모델 구조 : m+1일 ~ m+7일 모델 개발하여 m+30일 모델과 결합 함 <br>

	<br>

	<h4>2. 데이터 수집</h4>

	<a href="https://cran.r-project.org/web/packages/crypto/index.html">crypto API</a> <br>

	<br>

  <h4>3. 변수 목록</h4>

</div>

<br>


<!--
&nbsp; <span class="octicon octicon-ruby"></span> &nbsp; Bitcoin Core (BTC) 가격 차트 <br>
<div class="btcwdgt-chart"></div>
-->

<!--
<div class="wrapper" style="margin-left:0%">

  <div class="box" style="margin-left:0%">
    <div class="content" style="margin-left:0%">
    상승/유지/하락 예측모델 <br>
    <h4 style="color:white;">상승(98%)</h4> <br>	
	</div>
  </div>
  
   <div class="box">
    <div class="content">
    가격 예측모델 <br>
    <h4 style="color:white">4,020,000원</h4> <br>
	</div>
  </div>

  <div class="box">
    <div class="content">
    투자금액 추천모델 <br>
    <h4 style="color:white">투자금의 10%</h4> <br>
	</div>
  </div>

  <div class="box">
    <div class="content">
    손절매 예측모델 <br>
    <h4 style="color:white">코인 유지</h4> <br>
	</div>
  </div>

</div>

<br>

<span><script> document.write(new Date().toLocaleDateString());</script> &nbsp; 실시간 코인 가격</span>

<coingecko-coin-price-static-headline-widget  coin-ids="bitcoin,ethereum,eos,ripple,litecoin" currency="usd" locale="ko"></coingecko-coin-price-static-headline-widget>

<br>

비트코인 예측모델 EVAL

<table class="tg">
  <tr>
    <th class="tg-baqh">title</th>
    <th class="tg-baqh">value</th>
    <th class="tg-baqh">trading days</th>
    <th class="tg-baqh">hit days</th>
  </tr>
  <tr>
    <td class="tg-baqh">최초 투자일</td>
    <td class="tg-yq6s">2019-00-00</td>
    <td class="tg-baqh">-</td>
    <td class="tg-yq6s">-</td>
  </tr>
  <tr>
    <td class="tg-baqh">초기 자본금</td>
    <td class="tg-yq6s">10,000,000</td>
    <td class="tg-baqh">-</td>
    <td class="tg-yq6s">-</td>
  </tr>
  <tr>
    <td class="tg-baqh">누적 수익률</td>
    <td class="tg-yq6s">10%</td>
    <td class="tg-baqh">-</td>
    <td class="tg-yq6s">-</td>
  </tr>
  <tr>
    <td class="tg-baqh">상승/유지/하락 예측모델 HR</td>
    <td class="tg-yq6s">80%</td>
    <td class="tg-baqh">100 days</td>
    <td class="tg-yq6s">80 days</td>
  </tr>
  <tr>
    <td class="tg-baqh">가격 예측모델 MAPE</td>
    <td class="tg-yq6s">-</td>
    <td class="tg-baqh">-</td>
    <td class="tg-yq6s">-</td>
  </tr>
  <tr>
    <td class="tg-baqh">손절매 예측모델 HR</td>
    <td class="tg-yq6s">-</td>
    <td class="tg-baqh">-</td>
    <td class="tg-yq6s">-</td>
  </tr>
</table>

<br>

<hr>
-->