<script> 
$(function(){ 
	includeLayout(); 
}); 

function includeLayout(){ 
	var includeArea = $('[data-include]'); 
	var self, url; 
	$.each(includeArea, function() { 
		self = $(this); 
		url = self.data("include"); 
		self.load(url, function() { 
			self.removeAttr("data-include"); 
		}); 
	}); 
} 
</script>


<div class="col-md-8">

	<br>

	1. 프로젝트 소개 <br>  
	2. 데이터 수집 <br>

	<br>

	<h4>1. 프로젝트 소개</h4>

	1.1 테라펀딩 <br>
	P2P 부동산 투자 연체율 예측 모델 개발  <br>

	<br>

	1.2 국코해양부 실거래가 공개시스템 <br> 
	부동산 실거래 데이터 탐색 진행 <br>
	주요 탐색 포인트 : 거래가 많은 지역, 매매 급상승 (예상) 지역 등 <br>

	<br>

	<h4>2. 데이터 수집</h4>

	<a href="https://www.terafunding.com/Invest">테라펀딩</a> <br>
	<a href="http://rt.molit.go.kr/">국토해양부 실거래가 공개시스템</a> <br>

	<br>

</div>

<br>


