<script> 
$(function(){ 
	includeLayout(); 
}); 

function includeLayout(){ 
	var includeArea = $('[data-include]'); 
	var self, url; 
	$.each(includeArea, function() { 
		self = $(this); 
		url = self.data("include"); 
		self.load(url, function() { 
			self.removeAttr("data-include"); 
		}); 
	}); 
} 
</script>


<div class="col-md-8">	

	데이터 : <a href="https://www.terafunding.com/Invest">테라펀딩</a> <br> 
	금액에 따른 연체 확률 <br>
	지역에 따른 연체 확률 <br>
	등급에 따른 연체 확률 <br>
	기간에 따른 연체 확률 <br>

	1. 프로젝트 소개 <br>  
	2. 데이터 수집 (데이터 수집 경로를 댓글로 달아주세요)<br>
	3. 데이터 탐색 <br>
	4. 학습 <br>
	5. 검증 <br>
	6. 운영 <br>

	<br>

	<h4>1. 프로젝트 소개</h4>

	<h4>2. 데이터 수집</h4>

	<li>www.google.com</li>
	<li>www.google.com</li>
	<li>www.google.com</li>
	<li>www.google.com</li>

	<br>

</div>

<br>


