.wrapper {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-width: 1000px;
  max-width: 1100px;
  height: 100%;
  position: relative;
  box-sizing: inherit;
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

.wrapper:before,
.wrapper:after {
  content: " ";
  display: table;
}

.wrapper:after {
  clear: both;
}

.wrapper .box {
  margin: 10px auto;
  padding: 0;
  position: relative;
  float: left;
  width: 25%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
}

.box .content {
  margin: 10px;
  padding: 10px;
  min-height: 100px;
  background-color: #FFA500;
  box-sizing: border-box;
  box-shadow: 5px 5px grey;
}