---
layout: default
css: ['sidebar-post-nav.css']
---
<!-- 글쓰는데 사용되는 HTML -->
<article class="post container" itemscope itemtype="http://schema.org/BlogPosting">
	<script type="text/javascript" async
		src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
	</script>
    <div class="row">

        <div class="col-md-12 markdown-body">

            {{ content }}

            <!-- Comments -->
            <!-- {% include disqus-comments.html %} -->
            {% if site.disqus-shortname %}{% include disqus.html %}{% endif %}

        </div>

    </div>

</article>
